<h1> Start broadcasting to yout friends!!</h1>


<div class="buttons " >
			<a href="#" class="button green" id="startbtn" >Start cam</a>&nbsp;
	    	<a href="#" class="button red" id="stopbtn" style="display:none;">Stop cam</a>
		</div>



WATCHING!!!